<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>Operadores Premium</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label>Selecciona la entidad</ion-label>
        <ion-select placeholder="¿Con que entidad te quieres volver premium?" (ionChange)="onChange($event)">
          <ion-select-option [value]="en.name" *ngFor="let en of entities">{{en.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-header>
    <ion-card-content *ngIf="selectedEntity.name != ''">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-card-title class="titleSuscribeOperator">{{selectedEntity.name}}</ion-card-title>
          </ion-row>
          <ion-row>
            <ion-button
              size="small"
              expand="block"
              class="btnSuscribeOperator"
              (click)="Suscribe(selectedEntity.name)"
              [color]="isAlreadySuscribedColor"
            >
              <ion-icon [name]="isAlreadySuscribedIcon"></ion-icon>
              {{isAlreadySuscribed}}
            </ion-button>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let operator of operators">
    <ion-card-header>
      <ion-card-subtitle>{{operator.company}}</ion-card-subtitle>
      <ion-card-title>{{operator.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <span>Fecha de vinculación: {{operator.bondingDate}}</span>
    </ion-card-content>
    <ion-button color="danger" size="small" expand="block" (click)="UnSuscribe(operator.name)"
      ><ion-icon slot="icon-only" name="close-outline"></ion-icon>Desvincular</ion-button
    >
  </ion-card>
</ion-content>
