<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>Documentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- FAB ENVIAR DOC -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" routerLink="/send-documents">
      <ion-icon name="send-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- FAV AGREGAR DOC -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="primary" routerLink="/upload-document">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- CARDS DE DOCUMENTOS-->
  <ion-card *ngFor="let document of documents">
    <ion-card-header>
      <ion-grid class="doc-grid">
        <ion-row>
          <ion-col size="8" class="doc-col">
            <ion-card-subtitle>{{document.type}}</ion-card-subtitle>
            <ion-card-title>{{document.name}}</ion-card-title>
          </ion-col>
          <ion-col size="2">
            <img *ngIf="document.certificated" src="../../../assets/img/certificated.png" />
          </ion-col>
          <ion-col size="2">
            <img *ngIf="document.premium" src="../../../assets/img/premium.png" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      <span>{{document.date}}</span>
      <br />
      <span>{{document.user}}</span>
    </ion-card-content>
    <ion-button color="success" size="small" expand="block"
      ><ion-icon slot="icon-only" name="print-outline"></ion-icon>Imprimir</ion-button
    >
    <ion-button color="warning" size="small" expand="block"
      ><ion-icon slot="icon-only" name="arrow-down-circle"></ion-icon>Descargar</ion-button
    >
  </ion-card>
</ion-content>
