<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>Pagina otros operadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form" [formGroup]="sendDocForm" (ngSubmit)="SendDocuments(sendDocForm.value)">
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-label>Operadores</ion-label>
          <ion-select formControlName="operator" placeholder="Selecciona uno" (ionChange)="onChange($event)">
            <ion-select-option [value]="o.name" *ngFor="let o of operators">{{o.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Documentos</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row *ngFor="let d of documents">
            <ion-col size="8">
              <div>{{d.name}} - {{d.actualHolder}}</div>
            </ion-col>
            <ion-col size="4">
              <div><ion-icon class="add" name="add-circle" (click)="addDocument(d.id)"></ion-icon></div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Documentos Añadidos</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row *ngFor="let d of documentsAdded">
            <ion-col>
              <div>{{d.name}}</div>
            </ion-col>
            <ion-col>
              <div><ion-icon class="add" name="close-outline" (click)="leaveDocument(d.id)"></ion-icon></div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <h1>Enviar Documentos</h1>
      </ion-card-header>

      <ion-card-content>
        <ion-input formControlName="email" type="text" placeholder="Correo usuario objetivo"></ion-input>
        <br />
        <ion-button color="success" expand="full" [disabled]="sendDocForm.invalid" type="submit">Enviar</ion-button>
      </ion-card-content>
    </ion-card>
  </form>

  <form class="form" [formGroup]="sendRequests" (ngSubmit)="SendRequests(sendRequests.value)">
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-label>Entidad</ion-label>
          <ion-select formControlName="entity" placeholder="Selecciona uno">
            <ion-select-option [value]="e.name" *ngFor="let e of entity">{{e.name}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Solicitud de documento</ion-label>
          <ion-select formControlName="requestType" placeholder="Selecciona uno">
            <ion-select-option [value]="rt.name" *ngFor="let rt of requestTypes">{{rt.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-input
          formControlName="docReq"
          type="text"
          placeholder="Documento Requerido, ( solo el nombre del doc )"
        ></ion-input>
        <ion-input formControlName="email" type="text" placeholder="Correo usuario objetivo"></ion-input>
        <br />
        <ion-button color="success" expand="full" [disabled]="sendRequests.invalid" type="submit">Solicitar</ion-button>
      </ion-card-content>
    </ion-card>
  </form>

  <!-- CARD DONDE APARECE EL MENSAJE DE CONFIRMACION-->
  <ion-card *ngIf="successMessage != ''">
    <ion-card-header>
      <h3 class="successMessage">{{successMessage}}</h3>
    </ion-card-header>
  </ion-card>
</ion-content>
